.nav-links {
    position:initial;    
    text-align: center;
    height: 200px;
    display:-webkit-flex;
    align-items: center;
    justify-content: center;
    box-sizing: inherit;
}
.cl1{
    background-attachment: fixed;
    position: unset;

}
.cl2{
    padding: 0 1rem;
    color: var(--text-dark);
    transition: 0.3s

}